.navigation {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 20px;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation ul li {
  width: 127px;
  height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #464646;
  border-bottom: 5px solid var(--hoverandborder);
}

.navigation ul li:first-child {
  border-bottom-left-radius: 5px;
}

.navigation ul li:last-child {
  border-bottom-right-radius: 5px;
}

.navigation ul li:hover{
  color: #fff;
  background-color: var(--hoverandborder);
}